{% extends 'base.html' %}
{% load static %}

{% block 'css' %}
<link rel="stylesheet" href="{% static 'css/ol.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_feature.css' %}">
{% endblock %}


{% block 'content' %}
<script src="{% static 'js/ol.js' %}"></script>
<div class="container text-center">
    {{ form.media }}
    <h3>Правка геообъекта</h3>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="">
                <table>
                    {{ form.as_table }}
                </table>
                <div>
                    <input type="submit" class="btn btn-success" value="Сохранить" />
                    <button type="button" class="btn btn-primary" onclick='window.location="/edit/{{shapefile.id}}";'>
                        Отменить
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Признак</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                {% for attr in attributes %}
                    <tr>
                        <td>{{ attr.0 }}</td>
                        <td>{{ attr.1 }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block 'js' %}
{% endblock %}