<html>
    <head>
        <title>MapEditor</title>
        <link rel="stylesheet" href="../static/loader.css"/>
    </head>
    <body>
        <h1>Import Shapefile</h1>
{% if errMsg %}
        <b><i>{{ errMsg }}</i></b>
{% endif %}
        <form id="form" enctype="multipart/form-data" method="post"
              action="import">
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
            <button type="button"
                onClick='window.location="/shape-editor";'>
                Cancel
            </button>
        </form>
        <div  hidden id="loader"></div>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <script>
             $(document).ready(function() {
                $('#loader').hide();
                $('#form').submit(function(){
                        console.log('123')
                         $('#loader').show();
                });
             });
        </script>
    </body>
</html>

